 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Image</h2>
      <img src="{{ "/assets/img/AI.png" | prepend: site.baseurl }}" />
      <img src="{{ "/assets/img/PS.png" | prepend: site.baseurl }}" />
      <img src="{{ "/assets/img/ID.png" | prepend: site.baseurl }}" />
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Vidéo</h2>
      <img src="{{ "/assets/img/PR.png" | prepend: site.baseurl }}" />
      <img src="{{ "/assets/img/ae.png" | prepend: site.baseurl }}" />
      <img src="{{ "/assets/img/FC.png" | prepend: site.baseurl }}" />
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Web</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-wordpress-plain colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
